<html>
	<head>
	
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link   rel="stylesheet" href="css/bootstrap.min.css">
		<link   rel="stylesheet" href="css/app.css">
		<script src="js/boschrexroth.webconnectorclient.min.js"></script>
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script> 
		<script src="js/vue.js"></script> 
		<script src="js/app.js"></script> 
		
	</head>
	
	<body> 



	
	<div id='element' ></div> 
		<span id=time>Loading .....</span> 
		<div class="bg" > 
		 <nav class="navbar navbar-inverse navbar-custom">
		  <div class="container-fluid">
			<div class="navbar-header">
			  <a class="navbar-brand" href="https://www.boschrexroth.com"><img width=100% height=100%  src="img/motor.jpg"></a>
			</div>
			<ul class="nav navbar-nav">
			  <li class="active"><a href="#">Home</a></li>
			  <li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Downloads
				<span class="caret"></span></a>
				<ul class="dropdown-menu">
				  <li><a href="downloads/IndraworksDs.zip">IndraworksDS.zip</a></li>
				  <li><a href="downloads/DataSheet.pdf">DataSheet.pdf</a></li>
				  <li><a href="downloads/Backup.zip">Backup.zip</a></li>
				  <li><a href="downloads/Help.pdf">Help.pdf</a></li>
				  
				</ul>
			  </li>
			  <li><span id='info' 	></span></li>
			</ul>
			<ul class="nav navbar-nav ml-auto"> 
			 <li><a href="http://192.168.0.1:8085">WebConnector</a></li>
			</ul> 
		  </div>
		</nav> 
		
		
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<input type="radio" id="addMode" value= "1" title="Click to graph to add a point"> Add
					<input type="radio" id="delMode" value="-1" title="Click on existing point to delete it"> Del
					<input type="radio" id="moveMode" value="0" title="Click to toggle engagment and move a point"> Move 
					<br>
					<canvas id="graph"   width="512" height="300" style="background-image:url('img/bg.png');"></canvas>  
					<!--canvas id="graph"     width="512" height="300" style="position: absolute; left: 0; top: 0; z-index: 1;" ></canvas-->  
					<!--canvas id="graphbg"   width="512" height="300" style="position: absolute; left: 0; top: 0; z-index: 0;" ></canvas-->  
				</div>
				<div class="col-sm-6">
					<div class="table-responsive ">
						<table class="table table-scroll table-striped" id="tableOfpoints" >
							<thead><tr>
								<th>Master velocity 					
									<input type='text' onchange='txtUpdate(this)' class='form-control input-sm ' placeholder='1.0' index='0' kind='master' >
								</th>
								<th>Hub 					
									<input type='text' id="hub" onchange='txtUpdate(this)' class='form-control input-sm ' placeholder='300.0' index='0' kind='hub' >
								</th>
								</tr></thead>
							<thead><tr><th>step</th><th>x</th><th>y</th><th>v</th><th>a</th></tr></thead>
							<tbody>
								<tr v-for="row in rows" v-bind:placeholder="row.x"  >
								<td> {{row.step}} </td>
								<td> <input type="text" v-on:change="update" v-model="row.x" class="form-control input-sm"   ></td>
								<td> <input type="text" v-on:change="update" v-model="row.y" class="form-control input-sm"   ></td>
								<td> <input type="text" v-on:change="update" v-model="row.v" class="form-control input-sm"   ></td>
								<td> <input type="text" v-on:change="update" v-model="row.a" class="form-control input-sm"   ></td>
								</tr> 
							</tbody>
						</table>
					</div> 
				
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2">
					<input type='text' onchange='txtUpdate(this)' class='form-control input-sm ' placeholder='192.168.0.2' index='#0' kind='ip' >
				</div>
				<div class="col-sm-4">
					<button type="button" class="btn btn-primary btn-sm">Download</button>
					<button type="button" class="btn btn-success btn-sm">Upload</button>
					<a id="camViewer" data-toggle="modal" href="#showCamTable" class="btn btn-info btn-sm">Cam</a>

				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="showCamTable">
		<div class="modal-dialog">
			<div class="modal-content ">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Cam table values</h4>
				</div>
				<div class="modal-body ">
					<div class="table-responsive  ">
						<table class="table table-striped " id="camTable" >
							<thead><tr><th>step</th><th>point</th><th>value %</th><th></tr></thead>
							 <tbody>
								<tr v-for="row in rows">
									<td>{{row.step}}</td><td>{{row.point}}</td><td>{{row.value}}</td>
								</tr>
							</tbody>
						</table>
					</div> 
				</div>
			</div>
		</div>
	</div>
	
</body>

</html>

























