canvas { 
	border: 1px solid red; 
	}

.table-scroll tbody {
    position: absolute;
    overflow-y: scroll;
    height: 220px;
}

.table-scroll tr {
    width: 100%;
    table-layout: fixed;
    display: inline-table;
}

.table-scroll thead > tr > th {
    border: none;
}

.modal-body  {
    overflow-y: scroll;
    height: 300px;
    
}
